/* Color Pallete
Background Color: #472183;
Primary Color: #4B56D2
Secondary Color: #82C3EC
Other Color: #F1F6F5
*/

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

html {
    font-size: 62.5%;
}

body {
    background-color: #472183;
    color: #F1F6F5;
}

.title {
    text-align: center;
    font-family: 'Secular One', sans-serif;
    font-size: 2.6rem;
}

.title img {
   border-radius: 2rem; 
   height: 25rem;
   width: 25rem;
}

.smallTitle {
    text-align: center;
    font-size: 2rem;
}

.pageContent {
    font-size: 1.4rem;
}

.link1 {
    text-decoration: none;
    color: white;
}

.pLink {
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
}

.Link2 {
    text-decoration: none;
    color: white;
}

.pImage {
    width: 20rem;
    height: 20rem;
    border-radius: 50rem;
    margin-left: 18rem;
    margin-right: 18rem;
}



@media (min-width: 800px) {
    .title img {
        width: 60rem;
        height: 60rem;
    }
    
    .pageContent {
        font-size: 3rem;
    }
    
    .smallTitle {
        font-size: 3.5rem;
    }
    
    .pLink {
        font-size: 3rem;
    }
}